.customChatButtons-buttonList {
    gap: 8px;
}

.customChatButtons-buttonList-entry {
    display: grid;
    height: 44px;
    gap: 8px;
    grid-template-columns: auto min-content 40px;
    align-items: center;
}

.customChatButtons-colored-svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
    color: var(--interactive-normal);
}

.customChatButtons-svg-picker-modal-svg-list {
    gap: 8px;
}